#Constants { 
    includeNativeBool: true; 
    scrollVisibleBool: false;
    labelGap: 2;
    capsButtonUiids: "BlueText,GreenButton,BlueButton,NextButton,FriendConfirm,FriendDelete";
    landscapeTitleUiidBool: true;
}

StatusBar {
    background: transparent;
}

Container {
    background: transparent;
}

Default  { 
    color: black; 
    font-family:  "native:MainLight";
    font-size: 2.6mm;
}

@font-face {
    font-family: "facebook";
    src: url(res/facebook.ttf);
}

IconFont {
    font-family: "facebook";    
    font-size: 13mm;
    color: white;
    background-color: transparent;
}

Toolbar {
    padding: 1mm;
    border: none;
    background-color: #4367b3;
}

ToolbarLandscpae {
    padding: 0.5mm;
    border: none;
    background-color: #4367b3;
}

Form {
    background-color: white;
    margin: 0px;
    padding: 0px;
}

SplashForm {
    background-color: #4367b3;
    margin: 0px;
    padding: 0px;
}

LoginTitle {
    background-image: url(images/login-banner.jpg);
    cn1-source-dpi: 0;
    cn1-background-type: cn1-image-scaled-fill;
    margin: 0px;
    padding: 8mm;
}

PaddedContainer {
    padding: 3mm;
    margin: 0mm;
    background: transparent;
}

BaseButton {
    text-align: center;
    font-family:  "native:MainRegular";
    font-size: 2.6mm;
    padding: 1.4mm;
    margin: 2mm;
    color: white;    
}

BlueButtonOnBlueBackground {
    border-radius: 1mm;
    background: #587EBE;
    cn1-derive: BaseButton;
}

BlueButton {
    background: #587EBE;
    font-family:  "native:MainBold";
    cn1-derive: BaseButton;
}

BlueText {
    cn1-derive: BaseButton;
    font-family:  "native:MainBold";
    color: #385898;
    background: transparent;
}

GreenButton {
    cn1-derive: BaseButton;
    font-family:  "native:MainBold";
    background: #00A400;
}

TextHint {
    font-family:  "native:MainLight";
    font-size: 2.6mm;    
    padding: 2mm;
}

WhiteLinkButton {
    cn1-derive: BaseButton;
    font-family:  "native:MainLight";
    margin: 0px;
}

TextField {
    margin: 2mm;
}

GroupElementFirst {
    padding: 3mm;
}

GroupElementLast {
    padding: 3mm;
}

SignupSubHeader {
    font-family:  "native:MainBold";
    font-size: 3mm;
    text-align: center;
    margin: 0px;
    padding: 3mm;    
}

SignupForm {
    background-color: #F6F7F8;
    cn1-derive: SplashForm;
}

Title {
    font-family:  "native:MainLight";
    font-size: 4mm;
    padding: 2mm 1mm 2mm 1mm;
    margin: 0px;
    color: white;
}

TitleLandscape {
    font-family:  "native:MainLight";
    font-size: 3mm;
    padding: 0px;
    margin: 0px;
    color: white;
}

TitleCommand {
    font-family:  "native:MainLight";
    font-size: 2.5mm;
    padding: 1mm;
    margin: 0px;
    color: white;
}

TitleCommandLandscape {
    font-family:  "native:MainLight";
    font-size: 2.5mm;
    padding: 0px 1mm 0px 1mm;
    margin: 0px;
    color: white;
}

BackCommandLandscape {
    font-family:  "native:MainLight";
    font-size: 2.5mm;
    padding: 0px 1mm 0px 1mm;
    margin: 0px;
    color: white;
}

BackCommand {
    font-family:  "native:MainLight";
    font-size: 2.5mm;
    padding: 3mm 0.5mm 3mm 0.5mm;
    margin: 0px;
    color: white;
}

NextButton {
    cn1-derive: BlueButtonOnBlueBackground;
    margin-top: 3.5mm;
}

FloatingHint {
    font-family:  "native:MainRegular";
    font-size: 2mm;
    padding: 2mm 2mm 0.5mm 2mm;
    margin: 0px;
    color: black;
}

GenderIcons {
    cn1-derive: IconFont;
    color: #587EBE;
}

GenderIcons.selected, GenderIcons.pressed {
    color: white;
}

GenderToggle {
    text-align: center;
    border-radius: 3mm;
    padding: 4mm;
    background: white;
    margin: 2mm;
    border-color: #cccccc;
    border-width: 1px;
}

GenderToggle.selected, GenderToggle.pressed  {
    background: #587EBE;
    border-color: #cccccc;
    border-width: 1px;
}

BlueLink {
    cn1-derive: BaseButton;
    color: blue;
    font-size: 2.2mm;
    padding: 1.5mm;
    font-family:  "native:MainLight";
}

BoldBlueLink {
    cn1-derive: BlueLink;
    font-family:  "native:MainBold";
}

CenterLabel {
    text-align: center;
    font-size: 2.2mm;
}

TitleSearch {
    color: white;
    font-family:  "native:MainThin";
    font-size: 2.6mm;
    border: 1px #000000 cn1-pill-border;   
    background-color: #433db6;
    padding: 0.5mm 4mm 0.5mm 4mm;
    margin: 0.5mm 1.5mm 0.5mm 1.5mm;
}

Tab {
    font-family:  "native:MainLight";
    font-size: 4mm;    
    color: black;
    text-align: center;
    padding: 2mm 2mm 1mm 2mm;
    border: none;
    background: white;
    margin: 1px 0px 1px 0px;
}

TabsContainer {
    margin: 0px;
    padding: 1px 0px 1px 0px;
    background: gray;
}

Tab.selected, Tab.pressed {
    color: #2D72E4;
    border: none;
}

NewPostButton {
    border: 1px #cccccc cn1-pill-border;   
    background-color: white;
    padding: 1mm 2mm 1mm 2mm;
    margin: 1mm;
    color: black;
    font-family:  "native:MainLight";
    font-size: 2.6mm;    
}

GalleryButton {
    color: #4B4F56;
    font-family:  "native:MainLight";
    font-size: 1.5mm;    
    text-align: center;
    padding: 0px 2mm 0px 2mm;
    margin: 0px;
}

PaddedSeparator {
    background: #DCDEE3;
    padding: 0.5mm;
    margin: 0px;
}

HalfPaddedSeparator {
    cn1-derive: PaddedSeparator;
    padding: 0.25mm;
}

PostTitle {
    font-family:  "native:MainRegular";
    font-size: 3.5mm;    
}

PostSubTitle {
    font-family:  "native:MainRegular";
    font-size: 2mm;    
    color: #aaaaaa;
}

SmallBlueCircle {
    border: cn1-round-border;   
    background-color: blue;
    padding: 0.5mm;
    margin: 0px 2mm 0px 1mm;
    color: white;
    font-family:  "native:MainLight";
    font-size: 2mm;        
}

CleanButton {
    cn1-derive: BaseButton;
    font-family:  "native:MainLight";
    font-size: 2.5mm;        
    margin: 0px;
    color: #4B4F56;
}

HalfPaddedContainer {
    padding: 1.5mm;
    margin: 0mm;
    background: transparent;
}

FriendSubtitle {
    color: #999999;
    font-size: 3mm;        
    font-family:  "native:MainRegular";
    padding: 1.5mm;
}

SmallRedCircle {
    border: cn1-round-border;   
    background-color: red;
    padding: 1mm;
    margin: 1mm;
    color: white;
    font-family:  "native:MainRegular";
    font-size: 2.2mm;        
}

FriendName {
    color: black;
    font-size: 3mm;        
    font-family:  "native:MainLight";
}

FriendConfirm {
    padding: 2mm;
    margin: 1mm;
    border-radius: 1mm;
    background: #587EBE;
    font-family:  "native:MainLight";
    cn1-derive: BaseButton;    
    font-size: 2mm;
}

FriendDelete {
    background: white;
    border-color: #999999;
    border-width: 1px;
    color: #999999;
    cn1-derive: FriendConfirm;      
}

SmallBlueLabel {
    color: blue;
    font-size: 2mm;
    padding: 1mm;
    font-family:  "native:MainLight";
}

MultiLine1 {
    font-size: 3.5mm;
    padding: 1mm;
    color: black;
    font-family:  "native:MainLight";    
}

MultiLine1WithMargin {
    cn1-derive: MultiLine1;      
    margin-top: 2.5mm;
}

MultiLine2 {
    font-size: 2.6mm;
    padding: 1mm;
    color: gray;
    font-family:  "native:MainLight";    
}

LargeCircleIcon {
    border: cn1-round-border;   
    background-color: blue;
    padding: 1.5mm;
    margin: 2mm;
    color: white;
    font-family:  "native:MainLight";
    font-size: 7mm;        
}

FriendCombo {
    padding: 2mm;
    margin: 1mm;
    border-radius: 1mm;
    border-width: 1px;
    border-color: gray;
    background: transparent;
    color: gray;
    font-family:  "native:MainLight";
    font-size: 2.6mm;
}

PostStyleBase {
    background-color: black;
    color: white;
    padding: 3mm;
    text-align: center;
    font-family:  "native:MainRegular";    
    font-size: 4.5mm;            
}

PostStyleHearts {
    cn1-derive: PostStyleBase;
    background-image: url(images/hearts.jpg);
    cn1-source-dpi: 0;
    cn1-background-type: cn1-image-scaled-fill;
}

PostStyleHands {
    cn1-derive: PostStyleBase;
    background-image: url(images/hands.jpg);
    cn1-source-dpi: 0;
    cn1-background-type: cn1-image-scaled-fit;
    background: #243761;
}

PostStyleBlack {
    cn1-derive: PostStyleBase;
}

PostStyleRed {
    cn1-derive: PostStyleBase;
    background: red;
}

PostStylePurple {
    cn1-derive: PostStyleBase;
    background: #c600ff;
}

PostStyleText {
    background: transparent;
    color: white;
    padding: 1.5mm;
    text-align: center;
    font-family:  "native:MainRegular";    
    font-size: 3.5mm;            
}

SmallLabel {
    font-family:  "native:MainLight";    
    font-size: 2mm;            
}